<ion-header>
  <ion-toolbar>
    <ion-title>The Bag</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/new-disc']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="disc_cards">
    <div *ngFor="let disc of discs">
      <app-disc-card [routerLink]="'/disc/' + disc.payload.doc.id" discName="{{disc.payload.doc.data().Name}}"
        discManufacturer="{{disc.payload.doc.data().Manufacturer}}" discPlastic="{{disc.payload.doc.data().Plastic}}"
        discType="{{disc.payload.doc.data().Type}}" discWeight="{{disc.payload.doc.data().Weight}}"
        discSpeed="{{disc.payload.doc.data().Speed}}" discGlide="{{disc.payload.doc.data().Glide}}"
        discTurn="{{disc.payload.doc.data().Turn}}" discFade="{{disc.payload.doc.data().Fade}}"
        discID="{{disc.payload.doc.id}}">
      </app-disc-card>
    </div>
  </div>
</ion-content>