ion-toolbar{
  --background: rgb(62, 136, 136);
  --color: white;
}

ion-content{
  --ion-background-color: rgb(224, 236, 236);
}
.arrowContent{
  align-items: center;
}

.holeNumber{
  text-align: center;
  //margin-top: 10vh;
}
.holeCard{
  text-align: center;
  width: 30vw;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.arrows{
  font-size: 12vw;
}
.score{
  font-size: 12vw;
}
.arrowButtons{
  background-color: transparent;
  color:black;
}
.arrowButtons:hover{
  background-color: lightgrey;
}
.under{
  color: green;
}
.over{
  color: red;
}


.textDiv{
  align-items: center;
  //background-color: rgb(62, 136, 136);
  //display: inline-block;
  //width: 100%;
  //vertical-align: middle;

  //outline-color: rgb(62, 136, 136);
  //outline-style: solid;
  border-top: 0.75px solid rgb(62, 136, 136);
  border-bottom: 0.75px solid rgb(62, 136, 136);
}


.next{
  float: right;
  font-size: 5vw;
  background-color: lightblue;
  border-radius: 12px;
  margin-right: 2vw;
}

.back{
  font-size: 5vw;
  background-color: lightblue;
  border-radius: 12px;
  margin-left: 2vw;
}

.holeNumber{
  font-size: 6vw;
  //margin-bottom: 3vw;
}

.cardHolder{
  display: inline-block;
  margin-left: 1.5vw;
  height: 25%;
  align-items: center;
  justify-content: center;
}

.submitButton{
  font-size: 3vw;
  color: white;
  text-align: center;
  background-color: #eb445a;
  border-radius: 8px;
  margin-right: 2vw;


}