<ion-header>
  <ion-toolbar>
    <ion-title>scorecard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="holeCard">
    <button class="arrowButtons" (click)="increaseScore()">
      <ion-icon class="arrows" name="chevron-up-outline"></ion-icon>
    </button>
    <h1 class="score" [ngClass]="getScoreClass()">{{score}}</h1>
    <button class="arrowButtons" (click)="decreaseScore()">
      <ion-icon class="arrows" name="chevron-down-outline"></ion-icon>
    </button>
  </div>
  <h3 class="holeNumber">Hole *</h3>
  <button class="next">Next
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </button>
</ion-content>