<ion-card>
  <ion-card-header>
    <h2 class="disc-card-header">{{ discName }}</h2>
  </ion-card-header>

  <ion-card-content>
    <h2>Manufacturer</h2>
    <p> {{ discManufacturer }}</p>
    <h2>Plastic</h2>
    <p> {{ discPlastic }}</p>
    <h2>Type</h2>
    <p> {{ discType }} </p>
    <h2>Weight</h2>
    <p> {{ discWeight }}</p>
    <h2>Characteristics</h2>
    <p>
      <span> {{ discSpeed }} </span>
      <span> {{ discGlide }} </span>
      <span> {{ discTurn }} </span>
      <span> {{ discFade }} </span>
    </p>
  </ion-card-content>
</ion-card>