<ion-card>
  <ion-card-header>
    <h1 class="disc-card-header">{{ discName }}</h1>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <p *ngIf="discManufacturer" class="data">{{ discManufacturer }}</p> &nbsp;
        <p *ngIf="discPlastic" class="data"> --- {{ discPlastic }} </p>
        <p *ngIf="discType" class="data"> --- {{ discType }}</p>
      </ion-row>
      <ion-row>
        <p class="smallData"> {{discSpeed}} {{discGlide}} {{discTurn}} {{discFade}} &nbsp; &nbsp; {{ discWeight }}</p>
        <p *ngIf="discWeight" class="smallData">gs</p>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>