ion-toolbar{
  --background: rgb(62, 136, 136);
  --color: white;
}

ion-content{
  --ion-background-color: rgb(224, 236, 236);

}

ion-fab-button{
  --background: rgb(62, 136, 136);
}

.titleText{
  margin-top: 4vh;
text-align: center;

}

