<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Previous Rounds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/new-game']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="fab" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/the-bag']">
      <ion-icon name="basket"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="course_cards">
    <div class="list" *ngFor="let round of rounds">
      <app-course-round-cards (click)="goToCourseInfo(round)" course_name={{round.payload.doc.data().CourseName}}
        date={{round.payload.doc.data().Date}} shot={{totalShotSum(round.payload.doc.data().Scores)}}
        par={{round.payload.doc.data().CoursePar}}>
      </app-course-round-cards>
    </div>
  </div>
</ion-content>