<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form #f="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col class="label">
            <label>Email</label>
          </ion-col>
          <ion-col>
            <input type="text" [(ngModel)]="email" name="email" required>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="label">
            <label>Password</label>
          </ion-col>
          <ion-col>
            <input type="text" [(ngModel)]="password" name="pass" type="password" required>
          </ion-col>
        </ion-row>
        <br>
      </ion-grid>
      <ion-button type="submit" class="buttonA" expand="block" (click)="onSubmit()" [disabled]="!f.valid">LOGIN
      </ion-button>
      <ion-button class="buttonA" expand="block" (click)="createAccountPop()">CREATE NEW ACCOUNT</ion-button>
      <p class="resetButton" (click)="resetPassword()">Reset Password</p>
    </form>
  </div>
</ion-content>