<ion-header>
  <ion-toolbar>
    <ion-title>Previous Round Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <button slot="end" (click)="deleteRound()" class="deleteButton">
      <ion-icon class="trash" slot="end" name="trash" (click)="deleteRound"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="scoreTitle">Total Par Difference: {{totalShotSum(roundInfo.payload.doc.data().Scores)}}</h1>
  <ion-grid>
    <ion-row class="topDetails">
      <ion-col>
        <h3 class="topDetailsHeader">Date:</h3>
        <h4>{{this.selectedDate | date:'MMM d, y'}}</h4>
      </ion-col>
      <ion-col>
        <h3 class="topDetailsHeader">Time:</h3>
        <h4>{{this.selectedDate | date:'h:mm a'}}</h4>
      </ion-col>
    </ion-row>
    <ion-row class="bottomDetails">
      <ion-col>
        <h3 class="topDetailsHeader">Number of Holes:</h3>
        <h4>{{roundInfo.payload.doc.data().Scores.length}}</h4>
      </ion-col>
      <ion-col>
        <h3 class="topDetailsHeader">Total Par:</h3>
        <h4>{{roundInfo.payload.doc.data().CoursePar}}</h4>
      </ion-col>
    </ion-row>
    <ion-row class="cardHolder" *ngFor="let sc of roundInfo.payload.doc.data().Scores; let i = index;">
      <app-score-board scoreValue={{sc}} holeNumber={{i}}></app-score-board>
    </ion-row>
  </ion-grid>
</ion-content>