// individual hole cards
.cardHolder{
  display: inline-block;
  margin-left: 1.5vw;
  height: 25%;
  align-items: center;
  justify-content: center;
}

// "Total Par Difference" header
.scoreTitle{
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-top: 2px solid rgb(62, 136, 136);
  border-bottom: 2px solid rgb(62, 136, 136);
  background-color: white;
  color: rgb(62, 136, 136);
}

// date, time row formatting
.topDetails{
  text-align: center;
}

// number of holes, total par formatting
.bottomDetails{
  text-align: center;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgb(62, 136, 136);
}

// underlined headers formatting
.topDetailsHeader{
  text-decoration: underline;
  text-decoration-color: rgb(62, 136, 136);

}