<ion-card>
  <ion-card-content>
    <div class=bag_disc_name>
      <h2><u>Name:</u>&nbsp;&nbsp;{{ disc_name }}</h2>
      <br>
    </div>
    <div class=bag_disc_name>
      <h2><u>Type:</u>&nbsp;&nbsp;{{ disc_type }}</h2>
      <br>
    </div>
    <div class=bag_disc_name>
      <h2><u>Manufacturer:</u>&nbsp;&nbsp;{{ manufacturer }}</h2>
      <br>
    </div>
    <div class="bag_disc_button">
      <ion-button icon-start>
        <ion-icon name="information-circle"></ion-icon>
        &nbsp;&nbsp;More Info
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>

<!--
<ion-card>
  <ion-card-header>
    <h2 class="cr_header">{{ disc_name }}</h2>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2 class="cr_col_title">Date:</h2>
          <br>
          <div>{{ disc_type }}</div>
        </ion-col>
        <ion-col>
          <h2 class="cr_col_title">Score:</h2>
          <br>
          <div>{{ manufacturer }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
-->