// background color for each card
ion-card{
  background: white;
}

// course name formatting
.cr_header {
  border-bottom: 0.25px solid rgb(62, 136, 136);
  color: rgb(62, 136, 136);
}

// "date", "shot", "par" title formatting
.cr_col_title {
  font-size: 125%;
  color: rgb(62, 136, 136);
  text-align: center;
}

// align inputted content
div{
  text-align: center;
  font-size: 2vh;
}