<ion-header>
  <ion-toolbar>
    <ion-title>New Game</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Please enter the following information:</h1>
  <br>
  <br>
  <form #f="ngForm">
    <label class="nameInput"> Course Name:</label>&nbsp;
    <input type="text" [(ngModel)]="courseName" name="course" required>
    <br>
    <br>
    <br>
    <label class="parInput"> Course Par:</label>&nbsp;
    <input type="number" [(ngModel)]="coursePar" name="par">
    <br>
    <br>
    <br>
    <ion-button type="submit" (click)="goToScorecard()" [disabled]="!f.valid">Go to the Scorecard page</ion-button>
  </form>
</ion-content>