<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>New Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <br>
    <br>
    <label> Course Name: </label>
    <input type="text" [(ngModel)]="courseName" name="course" required>
    <label> Course Par: </label>
    <input type="number" [(ngModel)]="coursePar" name="par">
    <ion-button type="submit" (click)="goToScorecard()" [disabled]="!f.valid">Go to the Scorecard page</ion-button>
  </form>
</ion-content>