<ion-header>
  <ion-toolbar>
    <ion-title>New Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>This is the New Game page</h1>
  <br>
  <br>
  <form #f="ngForm">
    <label> Course Name: </label>
    <input type="text" [(ngModel)]="courseName" name="course" required>
    <label> Course Par: </label>
    <input type="number" [(ngModel)]="coursePar" name="par">
    <ion-button type="submit" (click)="goToScorecard()" [disabled]="!f.valid">Go to the Scorecard page</ion-button>
  </form>
</ion-content>